@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Roboto", sans-serif;
}

@theme {
    --color-primary: #00E5FF;
    --color-accent: #00FFFF;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}